<!-- navbar.component.html -->
<!-- Top bar -->
<div class="notNav container-fluid top-bar d-none d-lg-block py-2" style="background-color: #002f9c;">
    <div class="container d-flex justify-content-between align-items-center text-white">
      <div class="contact-info d-flex align-items-center">
        <div class="d-flex align-items-center me-3">
          <mat-icon class="small-icon me-2">phone</mat-icon> +27 89 433 8454
        </div>
        <span class="line-stroke"></span>
        <div class="d-flex align-items-center mx-3">
          <mat-icon class="small-icon me-2">location_on</mat-icon> 28 Jond Street Johannesburg, Gauteng
        </div>
        <span class="line-stroke"></span>
        <div class="d-flex align-items-center ms-3">
          <mat-icon class="small-icon me-2">schedule</mat-icon> Sun - Thu: 10:00 AM - 06:00 PM
        </div>
      </div>
      <div class="social-icons">
        <a routerLink="Contact" class="social-icon"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a routerLink="Contact" class="social-icon"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
        <a routerLink="Contact" class="social-icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a routerLink="Contact" class="social-icon"><fa-icon [icon]="faFacebookF"></fa-icon></a>
      </div>
    </div>
  </div>
  
 
  <nav class="navbar">
    <div class="container">
      <!-- Brand Logo -->
      <a href="home" class="logo rounded-pill navbar-brand mb-0 p-2 display-6"><span class="text-primary">Clean</span> <span class="text-white3 pe-2">Ease</span> <img src="../assets/img/cleaning.png"></a>

  


    <!-- Navbar Links -->
    <div class="navbar-links" [ngClass]="{'open': isMenuOpen}">
      <ul class="nav-list">
        <li><a routerLink="home" routerLinkActive="active" class="nav-link">Home</a></li>
        <li><a routerLink="about" routerLinkActive="active" class="nav-link">About</a></li>
        <li><a routerLink="team" routerLinkActive="active" class="nav-link">Team</a></li>
        <li><a routerLink="services/1" routerLinkActive="active" class="nav-link">Services</a></li>
        <li><a routerLink="testimonial" routerLinkActive="active" class="nav-link">Testimonial</a></li>
        <li><a routerLink="contact" routerLinkActive="active" class="nav-link">Contact</a></li>
      </ul>
  
      </div>
        <!-- Custom Button -->
        <button class="custom-button" routerLink="quotation" style="--content: 'GET QUOTE';">
          <div class="left"></div>
          GET QUOTE
          <div class="right"></div>
        </button>
            <!-- Toggle Button (nav-trigger) for small screens -->
    <button class="nav-trigger" (click)="toggleMenu()" [ngClass]="{'is-active': isMenuOpen}">
      <span></span>
    </button>
    </div>
  </nav>
  