

<!-- Services Section -->
<!-- <section id="services" class="services section">

  Section Title
  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" *ngFor="let service of services; let i = index" data-aos="fade-up" [attr.data-aos-delay]="(i * 100)">
        <div class="service-item d-flex" (click)="goToServiceDetails(service.id)">
          <div class="icon flex-shrink-0"><i [class]="service.icon"></i></div>
          <div>
            <h4 class="title"><a class="stretched-link">{{ service.title }}</a></h4>
            <p class="description">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- /Services Section -->
