    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

        <!-- Section Title -->
        <div class="text-center mb-5" data-aos="fade-up" data-aos-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Pricing</h5>
            <h1 class="display-5 w-50 mx-auto">Affordable Pricing Plan For Cleaning Services</h1>
        </div>
  
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
  
          <div class="row g-4">
  
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Free Plan</h3>
                <div class="icon">
                  <i class="bi bi-box"></i>
                </div>
                <h4><sup>$</sup>0<span> / month</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                  <li class="na"><i class="bi bi-x"></i> <span class="text-secondary">Pharetra massa massa ultricies</span></li>
                  <li class="na"><i class="bi bi-x"></i> <span class="text-secondary">Massa ultricies mi quis hendrerit</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4">
              <div class="pricing-item featured">
                <h3>Business Plan</h3>
                <div class="icon">
                  <i class="bi bi-rocket"></i>
                </div>
  
                <h4><sup>$</sup>29<span> / month</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                  <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                  <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Developer Plan</h3>
                <div class="icon">
                  <i class="bi bi-send"></i>
                </div>
                <h4><sup>$</sup>49<span> / month</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                  <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                  <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Pricing Section -->