<app-page-header [pageTitle]="'About'"[breadcrumbs]="
[
    { name: 'Home', link: '/' },
    { name: 'About' }
]">
</app-page-header>
<app-main-about></app-main-about>

<div class="track-records-container">
    <!-- Floating Icons -->
    <fa-icon [icon]="faBroom" class="icon icon1"></fa-icon>
    <fa-icon [icon]="faSprayCan" class="icon icon2"></fa-icon>
    <fa-icon [icon]="faToiletPaper" class="icon icon3"></fa-icon>
    <fa-icon [icon]="faGlassWaterDroplet" class="icon icon4"></fa-icon>
    <fa-icon [icon]="faBroom" class="icon icon5"></fa-icon>
    <fa-icon [icon]="faHandsWash" class="icon icon6"></fa-icon>
    <fa-icon [icon]="faSprayCanSparkles" class="icon icon7"></fa-icon>
    <fa-icon [icon]="faWindowClose" class="icon icon8"></fa-icon>
    
    <div class="content">
      <h2>Our Track <span>Records</span></h2>
      <div class="records">
        <div class="record-item">
          <h3>+20</h3>
          <p>Years of Experience</p>
        </div>
        <div class="record-item">
          <h3>+14</h3>
          <p>Experts</p>
        </div>
        <div class="record-item">
          <h3>+989</h3>
          <p>Happy Clients</p>
        </div>
        <div class="record-item">
          <h3>1K</h3>
          <p>Jobs Done</p>
        </div>
      </div>
    </div>
  </div>
  <app-main-team></app-main-team>
  <app-new-letter></app-new-letter>