    <!-- About Section -->
    <section id="about" class="about section light-background">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row align-items-xl-center gy-5">
  
            <div class="col-xl-5 content">
                <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">About CleanEase</h5>
              <h2>Top-Notch Cleaning Services Since 2008</h2>
              <p>Since our establishment in 2008, we have been committed to providing exceptional cleaning services for homes and businesses. Our dedicated team
                utilizes the latest cleaning techniques and eco-friendly products to ensure every space sparkles.</p>
                <button routerLink="/about" type="button" class="btn btn-primary border-0 rounded-pill px-4 py-3 mt-5"><span>Read More </span><i class="bi bi-arrow-right"></i></button>
              <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
            </div>
  
            <div class="col-xl-7">
              <div class="row gy-4 icon-boxes">

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <i class="bi bi-buildings"></i>
                    <h3>Commercial Cleaning</h3>
                    <p>Our team provides thorough and efficient cleaning services for office spaces, ensuring a hygienic and pristine environment for your business.</p>
                  </div>
                </div> <!-- End Icon Box -->
              
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="bi bi-houses-fill"></i>
                    <h3>Residential Cleaning</h3>
                    <p>We take pride in making homes sparkle with our reliable and personalized cleaning services, tailored to suit your schedule and needs.</p>
                  </div>
                </div> <!-- End Icon Box -->
              
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-box">
                    <i class="bi bi-hospital"></i>
                    <h3>Healthcare Facility Cleaning</h3>
                    <p>With meticulous attention to sanitation, we provide cleaning services for healthcare facilities, ensuring safety and cleanliness for patients and staff.</p>
                  </div>
                </div> <!-- End Icon Box -->
              
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <i class="bi bi-graph-up-arrow"></i>
                    <h3>Professional and Reliable</h3>
                    <p>At CleanEase, we are committed to delivering exceptional service that you can trust, helping your spaces stay clean and healthy at all times.</p>
                  </div>
                </div> <!-- End Icon Box -->
              
              </div>
              
            </div>
  
          </div>
        </div>
  
      </section><!-- /About Section -->