<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
        <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Team</h5>
        <h1 class="display-5 w-50 mx-auto">Our Team Members</h1>
      </div>

      <div class="team container">

        <div class="row gy-4">
          <div class="col-xl-3 col-md-6 d-flex" *ngFor="let member of teamMembers; let i = index" data-aos="fade-up" [attr.data-aos-delay]="(i * 0.2 + 0.3) + 's'">
            <div class="member">
              <img [src]="member.image" class="img-fluid" alt="{{member.name}}">
              <h4>{{member.name}}</h4>
              <span>{{member.position}}</span>
              <div class="social">
                <a *ngIf="member.social.twitter" [href]="member.social.twitter"><i class="bi bi-twitter-x"></i></a>
                <a *ngIf="member.social.facebook" [href]="member.social.facebook"><i class="bi bi-facebook"></i></a>
                <a *ngIf="member.social.instagram" [href]="member.social.instagram"><i class="bi bi-instagram"></i></a>
                <a *ngIf="member.social.linkedin" [href]="member.social.linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
        </div>
    
      </div>
    </div>
  </div>
  <!-- Team End -->
  